<html>
  <head>
    <title>WebCampBackendNew</title>
    <meta name="crf-token" content="authenticity_token">
    <meta name="csrf-token"
  </head>
<h1>ようこそ<strong>Bookers</strong>へ!</h1>
<p>
  <storong>Bookers</storong>
  "では、さまざまな書式に関するあなたの意見や"
</p>
<p>印象えお共有し交換することができます</p>
<p><a hlef="/books">start</a></p>
</html>